.btn-space {
    margin-right: 50px;
    padding: 15px 40px;
}

.topNavBarPushDown{
    margin-bottom: 50px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.vertical{
    width: 50%;
}

.formRow{
    display: flex;
    justify-content: space-evenly;
}
